@import "tailwindcss";
@import 'react-toastify/dist/ReactToastify.css';
/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



html, body {
  background: #ffffff;
  color: #171717;
  margin: 0;
  height: 100%;
}

/* main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh
} */

@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}